@page
@model QuizzWeb.Pages.Chat.ChatModel
@{
}

@section Styles {
    <style>
        .menu-nav {
            display: none;
        }

        #main-container {
            margin-top: 100px;
        }
    </style>
}

<div class="chat-wrapper">
    <div class="chat-container">
        Day la chat
    </div>
</div>
